# Ignore Multivariate_arff dataset due to large volumn (Github prohibited)
!Datasets/
Datasets/*
!Datasets/Datasets.md
!Datasets/Multivariate_arff/
Datasets/Multivariate_arff/*
!Datasets/Multivariate_arff/BasicMotions/

__pycache__/